<section class="contact">
  <article class="content_slide">
    <form class="information"
          name="formInformation"
          ng-submit="formInformation.$valid && contactCtrl.sendFormInformation()"
          novalidate>
      <fieldset class="names">
        <input id="name"
               name="name"
               type="text"
               placeholder='{{ "translation.contact.form.last_name" | translate }}'
               ng-model="contactCtrl.getFormModel().lastName"
               required><!--
     --><input id="first_name"
               name="first_name"
               type="text"
               placeholder='{{ "translation.contact.form.first_name" | translate }}'
               ng-model="contactCtrl.getFormModel().firstName"
               required>
      </fieldset>

      <fieldset>
        <input id="phone"
               name="phone"
               type="tel"
               placeholder='{{ "translation.contact.form.phone" | translate }}'
               ng-model="contactCtrl.getFormModel().phoneNumber"
               required>
      </fieldset>

      <fieldset>
        <input id="email"
               name="email"
               type="text"
               placeholder='{{ "translation.contact.form.email" | translate }}'
               ng-model="contactCtrl.getFormModel().email"
               required>
      </fieldset>

      <fieldset>
        <input id="object"
               name="object"
               type="text"
               placeholder='{{ "translation.contact.form.object" | translate }}'
               ng-model="contactCtrl.getFormModel().object"
               required>
      </fieldset>

      <fieldset>
        <textarea id="message"
                  name="message"
                  placeholder='{{ "translation.contact.form.message" | translate }}'
                  ng-model="contactCtrl.getFormModel().message"
                  required></textarea>
      </fieldset>
          <p> value in parent for model : {{  contactCtrl.getFormModel().captcha }}
<!--       <fieldset ng-if="contactCtrl.displayReCaptcha()">
        <div re-captcha
             class="g-recaptcha"
             required
             ng-model="contactCtrl.getFormModel().captcha"></div>
      </fieldset> -->

      <button id="sub" name="sub" type="submit" ng-disabled="formInformation.$invalid">
        {{ "translation.contact.form.submit" | translate }}
      </button>
    </form><!--
 --><div class="coordinates">
      <h1>Let's stay in touch!</h1>
      <div id="map_local">
        <div id="map-canvas" google-map></div>
      </div>
      <h3>Ilya SIBAN</h3>
      <p class="adress">
        38 Avenue du Général de Gaulle
        <span>93330 Neuilly-sur-Marne</span>
      </p>
      <a class="mail" href="mailto:ilya.siban.tic@gmail.com">ilya.siban.tic@gmail.com</a>
    </div>
  </article>
</section>
