<section class="contact">
  <article class="content_slide">
    <form id="contact_form"
          class="information"
          name="formInformation"
          ng-submit="formInformation.$valid && contactCtrl.sendFormInformation()"
          novalidate>
      <fieldset class="names">
        <input id="name"
               name="name"
               type="text"
               placeholder='{{ "translation.contact.form.last_name" | translate }}'
               ng-model="contactCtrl.getFormModel().lastName"
               required><!--
     --><input id="first_name"
               name="first_name"
               type="text"
               placeholder='{{ "translation.contact.form.first_name" | translate }}'
               ng-model="contactCtrl.getFormModel().firstName"
               required>
      </fieldset>

      <fieldset>
        <input id="phone"
               name="phone"
               type="tel"
               placeholder='{{ "translation.contact.form.phone" | translate }}'
               ng-model="contactCtrl.getFormModel().phoneNumber"
               required>
      </fieldset>

      <fieldset>
        <input id="email"
               name="email"
               type="text"
               placeholder='{{ "translation.contact.form.email" | translate }}'
               ng-model="contactCtrl.getFormModel().email"
               required>
      </fieldset>

      <fieldset>
        <input id="object"
               name="object"
               type="text"
               placeholder='{{ "translation.contact.form.object" | translate }}'
               ng-model="contactCtrl.getFormModel().object">
      </fieldset>

      <fieldset>
        <textarea id="message"
                  name="message"
                  placeholder='{{ "translation.contact.form.message" | translate }}'
                  ng-model="contactCtrl.getFormModel().message"
                  required></textarea>
      </fieldset>

      <button id="sub" name="sub" type="submit" ng-disabled="formInformation.$invalid">
        {{ "translation.contact.form.submit" | translate }}
      </button>
    </form>
  </article>
</section>
