section.about {
  text-align: center;
}

section.about div.thumbnail {
  width: 150px;
  height: 150px;
  margin: 30px auto 0 auto;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.25);
}

section.about div.thumbnail:hover > div.picture {
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.2);
  transform: rotate(-110deg);
}

section.about div.thumbnail div.info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  box-shadow: inset 0 0 0 5px #2e8eac;
}

section.about div.thumbnail div.info h3 {
  color: #2e8eac;
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: block;
  transform: translate(11%, -10px) rotate(-97deg);
}

section.about div.thumbnail div.info h3 span {
  position: absolute;
  width: 150px;
  height: 60px;
  left: 0;
  top: 0px;
  transform-origin: bottom center;
}

section.about div.thumbnail a.download_link {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: white;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background: #2e8eac url(images/pdf.png) no-repeat center center/100% auto;
}

section.about div.thumbnail div.picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.5);
  transform-origin: 95% 40%;
  transition: all 0.3s ease-in-out;
  background: #2e8eac url(images/ilya_siban.jpg) no-repeat -12px 5px/100% auto;
}

section.about h1 {
  font-size: 60px;
  color: white;
  margin: 20px 0 0 0;
}

section.about h2 {
  font-size: 44px;
  color: white;
  margin: 0 0 40px 0;
}

section.about ul.technos {
  margin: 0 0 40px 0;
}

section.about ul.technos li {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.25);
}

section.about ul.technos li:last-of-type {
  margin: 0;
}

section.about ul.technos li.angular {
  background: url(images/logos/angularjs.png) no-repeat center center/47px auto;
  animation: animationTechnos 0.2s ease-in-out;
}

section.about ul.technos li.nodejs {
  background: url(images/logos/nodejs.png) no-repeat center center/50px auto;
  animation: animationTechnos 0.4s ease-in-out;
}

section.about ul.technos li.html5 {
  background: url(images/logos/html5.png) no-repeat center center/35px auto;
  animation: animationTechnos 0.6s ease-in-out;
}

section.about ul.technos li.css3 {
  background: url(images/logos/css3.svg) no-repeat center center/35px auto;
  animation: animationTechnos 0.8s ease-in-out;
}

section.about ul.technos li.d3js {
  background: url(images/logos/d3.png) no-repeat center center/37px auto;
  animation: animationTechnos 1s ease-in-out;
}

section.about ul.technos li.sass {
  background: url(images/logos/sass.png) no-repeat center center/42px auto;
  animation: animationTechnos 1.2s ease-in-out;
}

section.about a.portfolio_link {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 24px;
  border: 1px solid white;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
}

section.about a.portfolio_link:hover {
  border: 2px solid white;
  transition: border 0.2s;
}

.char1 {
  transform: rotate(22.5deg);
}

.char2 {
  transform: rotate(45deg);
}

.char3 {
  transform: rotate(67.5deg);
}

.char4 {
  transform: rotate(90deg);
}

.char5 {
  transform: rotate(112.5deg);
}

.char6 {
  transform: rotate(135deg);
}

.char7 {
  transform: rotate(157.5deg);
}

.char8 {
  transform: rotate(180deg);
}

.char9 {
  transform: rotate(202.5deg);
}

.char10 {
  transform: rotate(225deg);
}

.char11 {
  transform: rotate(247.5deg);
}

.char12 {
  transform: rotate(270deg);
}

.char13 {
  transform: rotate(292.5deg);
}

.char14 {
  transform: rotate(315deg);
}

.char15 {
  transform: rotate(337.5deg);
}

.char16 {
  transform: rotate(360deg);
}

@keyframes animationTechnos {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateZ(0px);
  }
}
