section.contact {
  padding: 120px 0 0 0;
}

section.contact form.information,
section.contact div.coordinates {
  display: inline-block;
  vertical-align: top;
}

section.contact div.coordinates {
  width: calc(100% - 350px);
  padding: 0 0 0 50px;
}

@media (max-width: 767px) {
  section.contact div.coordinates {
    display: block;
    width: 100%;
    padding: 0;
    margin: 20px 0;
  }
}

section.contact form.information {
  max-width: 300px;
  margin: 0 auto;
}

section.contact form.information fieldset {
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
}

section.contact form.information fieldset input {
  display: block;
  width: 100%;
  height: 35px;
  margin: 0;
  font-weight: lighter;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 5px 10px;
  background: white;
  font-size: 14px;
}

section.contact form.information fieldset input:active, section.contact form.information fieldset input:focus {
  border: 1px solid #36a6c9;
  outline: none;
}

section.contact form.information fieldset textarea {
  padding: 5px 10px;
  height: 130px;
  min-height: 130px;
  min-width: 100%;
  max-width: 100%;
  font-weight: lighter;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #fff;
  margin: 0;
  background: white;
}

section.contact form.information fieldset textarea:active, section.contact form.information fieldset textarea:focus {
  border: 1px solid #36a6c9;
  outline: none;
}

section.contact form.information fieldset.names input[type="text"] {
  width: calc(50% - 5px);
  display: inline-block;
  margin: 0 5px 0 0;
}

section.contact form.information fieldset.names input[type="text"]:last-of-type {
  margin: 0 0 0 5px;
}

section.contact form.information button[type="submit"] {
  height: 35px;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #2ECC71;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}

section.contact form.information button[type="submit"]:disabled {
  background: #36a6c9;
  opacity: 0.7;
}

section.contact div.coordinates h1 {
  color: white;
  font-size: 32px;
  margin: 0 0 20px 0;
}

section.contact div.coordinates h3 {
  color: white;
  font-size: 24px;
  margin: 0 0 10px 0;
}

section.contact div.coordinates #map-canvas {
  max-width: 100%;
  width: 100%;
  max-height: 180px;
  height: 100%;
  margin: 0 auto 20px auto;
}

section.contact div.coordinates p.adress {
  color: white;
  position: relative;
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
  font-size: 14px;
}

section.contact div.coordinates p.adress:before {
  content: "\f041";
  position: absolute;
  font-family: "FontAwesome";
  left: 0;
}

section.contact div.coordinates p.adress span {
  display: block;
}

section.contact div.coordinates a.mail {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 0 0 0 20px;
  font-size: 14px;
}

section.contact div.coordinates a.mail:before {
  content: "\f0e0";
  position: absolute;
  font-family: "FontAwesome";
  left: 0;
}
