section.curriculum {
  padding: 60px 0 0 0;
}

section.curriculum nav {
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

section.curriculum nav ul {
  margin: 0;
  padding: 0 0 15px 0;
  list-style-type: none;
}

section.curriculum nav ul li {
  display: inline-block;
  margin-right: 30px;
  color: black;
  cursor: pointer;
  font-weight: 300;
}

section.curriculum nav ul li.active {
  color: white;
}

section.curriculum nav ul li:last-of-type {
  margin: 0;
}

section.curriculum article.skills {
  margin: -30px auto 0 auto;
}

section.curriculum article.skills ul {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}

@media (max-width: 767px) {
  section.curriculum article.skills ul {
    display: block;
  }
}

section.curriculum article.skills ul li {
  list-style-type: none;
  display: inline-block;
  font-weight: 300;
  margin: 0 10px 10px 0;
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
}

@media (max-width: 767px) {
  section.curriculum article.skills ul li {
    width: 50%;
  }
}

section.curriculum article.skills ul li:hover {
  color: white;
}

section.curriculum article.skills ul li.active {
  color: white;
}

section.curriculum article.skills ul li:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  margin: -10px  0 0 0;
  background: white;
  border: 2px solid white;
}

section.curriculum article.skills ul li.html5:before {
  background: #bedbe9;
}

section.curriculum article.skills ul li.css3:before {
  background: #97be0d;
}

section.curriculum article.skills ul li.javascript:before {
  background: #666666;
}

section.curriculum article.skills ul li.jquery:before {
  background: #cc4324;
}

section.curriculum article.skills ul li.angularjs:before {
  background: #d84f5f;
}

section.curriculum article.skills ul li.node:before {
  background: #1c7ae5;
}

section.curriculum article.skills ul li.d3:before {
  background: #cc4324;
}

section.curriculum article.skills ul li:last-of-type {
  margin: 0;
}

section.curriculum article.skills div#diagram_container {
  width: 100%;
  display: inline-block;
  text-align: center;
}

@media (max-width: 767px) {
  section.curriculum article.skills div#diagram_container {
    width: 100%;
  }
}

section.curriculum article.skills svg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 515px;
  height: auto;
  margin: 0 auto;
  font-family: "Roboto condensed";
}

section.curriculum article.skills svg path {
  cursor: pointer;
}

section.curriculum article.skills svg text.circle_text {
  fill: white;
  font-weight: 300;
}

section.curriculum article.experiences ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

section.curriculum article.experiences ul li {
  margin: 0 auto 20px auto;
  border-radius: 4px;
  cursor: pointer;
}

section.curriculum article.experiences ul li div.details {
  position: relative;
  padding: 10px 10px 10px 40px;
}

section.curriculum article.experiences ul li div.details.active:before {
  content: "\f068";
  font-family: "FontAwesome";
}

section.curriculum article.experiences ul li div.details:before {
  position: absolute;
  content: "\f067";
  font-family: "FontAwesome";
  width: 20px;
  height: 20px;
  color: white;
  left: 10px;
  top: 50%;
  margin: -10px 0 0 0;
}

section.curriculum article.experiences ul li div.details p.title {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  margin: 0;
  color: white;
}

section.curriculum article.experiences ul li div.details p.dates {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  font-weight: 300;
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border-radius: 4px;
  padding: 5px 10px;
  color: black;
  text-transform: capitalize;
}

@media (max-width: 500px) {
  section.curriculum article.experiences ul li div.details p.dates {
    position: relative;
    display: block;
    background: none;
    padding: 0;
    top: 0;
    left: 0;
  }
}

section.curriculum article.experiences ul li div.details p.company {
  color: black;
  margin: 5px 0 8px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  margin: 0;
}

section.curriculum article.experiences ul li div.description {
  padding: 0 0 0 20px;
  position: relative;
  padding: 0 10px 0 60px;
}

section.curriculum article.experiences ul li div.description:before {
  content: "";
  position: absolute;
  left: 40px;
  top: 0;
  bottom: 0;
  border-left: 1px dashed #e1e1e1;
}

section.curriculum article.experiences ul li div.description p {
  color: black;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

section.curriculum article.experiences ul li div.description ul.achievments {
  padding: 0 0 0 20px;
}

section.curriculum article.experiences ul li div.description ul.achievments li {
  font-weight: 300;
  color: #333;
  margin: 0 0 5px 0;
  font-style: italic;
  font-size: 14px;
}

section.curriculum article.experiences ul li div.description ul.achievments li:before {
  content: "";
  border-color: transparent #333;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

section.curriculum article.experiences ul li div.description ul.achievments li:last-of-type {
  margin: 0;
}

section.curriculum article.education ul {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
}

section.curriculum article.education li.school {
  list-style-type: none;
  width: -webkit-calc((100% / 3) - 30px);
  width: calc((100% / 3) - 30px);
  margin: 0 15px;
  text-align: center;
  border-radius: 4px;
}

@media (max-width: 767px) {
  section.curriculum article.education li.school {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
  }
}

section.curriculum article.education li.school div.name {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 10px 0;
}

section.curriculum article.education li.school div.name h2 {
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

section.curriculum article.education li.school h3.diploma {
  font-size: 14px;
  text-align: center;
  color: black;
  padding: 10px 0;
  margin: 0;
  font-weight: 300;
}

section.curriculum article.education li.school a.link_school {
  text-decoration: none;
  width: 90px;
  height: 90px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #36a6c9;
}

section.curriculum article.education li.school a.link_school.baimbridge {
  background: url(images/logos/schools/lgt_baimbridge.png) no-repeat center center/90px auto;
}

section.curriculum article.education li.school div.dates {
  padding: 10px;
  color: white;
  font-weight: 300;
  font-size: 14px;
}

section.curriculum article.education li.school div.dates span {
  padding: 35px 0 0 0;
}

section.curriculum article.education li.school div.dates span.left {
  float: left;
}

section.curriculum article.education li.school div.dates span.right {
  float: right;
}

section.curriculum article.education li.school div.description {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding: 25px 10px;
}

section.curriculum article.education li.school div.description p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: black;
  font-weight: 300;
  text-align: justify;
}
