header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

header div.header_content {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1000px) {
  header div.header_content {
    padding: 0 20px;
  }
}

header div.header_content nav.main > ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  header div.header_content nav.main > ul {
    text-align: center;
  }
}

header div.header_content nav.main > ul li {
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
  height: 60px;
  margin: 0;
  padding: 0 0 0 10px;
  position: relative;
}

header div.header_content nav.main > ul li:first-of-type {
  padding: 0;
}

header div.header_content nav.main > ul li:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 20px;
  bottom: 20px;
  border-left: 1px solid #e1e1e1;
}

header div.header_content nav.main > ul li:first-of-type:before {
  display: none;
}

header div.header_content nav.main > ul a {
  color: #b3babe;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

header div.header_content nav.main > ul a.active {
  color: white;
}

header div.header_content nav.main > ul a:hover {
  color: white;
  transition: color 0.2s;
}

header div.header_content nav.main > ul a i {
  margin: 0 5px 0 0;
}

@media (max-width: 767px) {
  header div.header_content nav.main > ul a span.short {
    display: inline-block;
  }
  header div.header_content nav.main > ul a span.long {
    display: none;
  }
}

@media (max-width: 500px) {
  header div.header_content nav.main > ul a span {
    display: none;
  }
  header div.header_content nav.main > ul a span.short {
    display: none;
  }
}

header div.header_content nav.social_and_languages {
  position: absolute;
  top: 9px;
  right: 0;
}

@media (max-width: 1000px) {
  header div.header_content nav.social_and_languages {
    right: 20px;
  }
}

@media (max-width: 767px) {
  header div.header_content nav.social_and_languages {
    display: none;
  }
}

header div.header_content nav.social_and_languages a {
  text-decoration: none;
  color: #b3babe;
  width: 1.5em;
}

header div.header_content nav.social_and_languages a:hover {
  color: white;
}
