footer {
  height: 60px;

  div.footer_content {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;

    p {
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      color: white;
      display: inline-block;
      font-weight: 300;
    }

    div.select_languages {
      position: relative;
      float: right;
      margin: -20px 0 0 0;

      p {
        cursor: pointer;
        position: relative;
        padding: 0 0 0 28px;

        &.en:before {
          content: "";
          position: absolute;
          left: 0;
          top: 2px;
          width: 23px;
          height: 17px;
          background: url(images/flags/us@2x.png);
          background-size: 23px;
        }

        &.fr:before {
          content: "";
          position: absolute;
          left: 0;
          top: 2px;
          width: 23px;
          height: 17px;
          background: url(images/flags/fr@2x.png);
          background-size: 23px;
        }
      }

      div.dropdown_list {
        position: absolute;
        top: -90px;
        left: 50%;
        margin: 0 0 0 -60px;
        width: 100px;
        background: white;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);

        @media (max-width: 1080px) {
          left: auto;
          right: 0;
          margin: 0;
        }

        ul {
          padding: 0;
          margin: 0;
          list-style-type: none;

          li {
            display: block;
            margin: 0 0 10px 0;
            position: relative;

            &:last-of-type { margin: 0; }

            &.selected:after {
              content: "✓";
              display: inline-block;
              position: absolute;
              right: 0;
              color: #5fb232;
            }
          }

          li > p {
            color: black;
            position: relative;
            padding: 0 0 0 28px;

            &.en:before {
              content: "";
              position: absolute;
              left: 0;
              top: 2px;
              width: 23px;
              height: 17px;
              background: url(images/flags/us@2x.png);
              background-size: 23px;
            }

            &.fr:before {
              content: "";
              position: absolute;
              left: 0;
              top: 2px;
              width: 23px;
              height: 17px;
              background: url(images/flags/fr@2x.png);
              background-size: 23px;
            }

            &:hover { text-decoration: underline; }
          }
        }

        div.arrow {
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
          border-width: 11px;
          left: 50%;
          bottom: -11px;
          margin: 0 0 0 -11px;
          border-top-color: white;
          border-bottom-width: 0;

          @media (max-width: 1080px) {
            left: auto;
            right: 20px;
            margin: 0;
          }

          &:after {
            position: absolute;
            content: "";
            border-width: 10px;
            bottom: 1px;
            margin-left: -10px;
            border-top-color: white;
            border-bottom-width: 0;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-bottom-width: 0;
          }
        }
      }
    }
  }
}
