// General #####################################################################
html,
body {
  background: linear-gradient(163deg, #1a2565 10%, #196d82 36%, #9182be 85%);
  font-family: "Roboto condensed";
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  &.portfolio { background: #008060; }
  &.curriculum {background: #24a79e;  }
  &.contact { background: #196d82; }
}

h1,
h2,
h3,
h4,
p,
a,
input,
textarea {
  font-family: "Roboto condensed";
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

div.main_container {
  min-height: 100%;
  margin: 0 0 -60px 0;

  &:after {
    content: "";
    display: block;
    height: 60px;
  }
}

section { width: 100%; }


article.content_slide {
  display: block;
  max-width: 980px;
  margin: 0 auto;

  @media (max-width: 1000px) { padding: 0 20px; }
}
